
:root {
  --feature-color:  rgb(221, 78, 78);
  --transparent-feature-color:  rgba(221, 78, 78, 0.5);
  --hint-color: rgb(55, 194, 236);
  --transparent-gray: rgba(149, 144, 141, 0.392);
  --less-transparent-gray: rgba(149, 144, 141, 0.592);
  --main-green: rgb(106, 204, 106);
  --main-color: rgb(106, 204, 106);
  --transparent-main-color: rgba(106, 204, 106, 0.5)
}

button:focus, button:active {
  -moz-outline: 0;
  -ms-outline:0;
  -o-outline: 0;
  -webkit-outline: 0;
}

button::-moz-focus-inner {
  border: 0;
}



body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
  overflow: hidden;
}

*{
  box-sizing: border-box;
}

.bgimg-1 {
  position: relative;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
  transform: scale(1.2);
  background-image: url("../img/map_bg_lr_2.jpg");
  height: 100%;
  width: 100%;
}



.container {
  display: flex;
  flex-direction:column;
  background-color: rgba(89, 95, 91, 0.463); /* Black w/opacity/see-through */
  color: white;
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
}

header{
  display: flex;
  height: calc(3vw + 3vh + .5vmin);
  background-color: var(--transparent-gray); /* lignt-gray w/opacity/see-through */
  align-items: center;
}

#logo h1{
  margin-left: 0.5rem;
  font-size: calc(1vw + 1vh + .5vmin);
  color: rgb(106, 204, 106);
}

#maple{
  color: var(--feature-color);
  margin-left: 0.3rem;
}

#game{
  padding: 1% 5%;
}

#status{
  font-size: calc(1.2vw + 1.3vh + .5vmin);
  text-align: center;
  line-height: calc(1vw + 3vh + .5vmin);
}

#soundAlike{
  font-size: calc(1vw + 1vh + .5vmin);
}

.hint{
  color: var(--hint-color);
}

#puzzle{
  margin: calc(0.1vw + 2vh + .5vmin);
  background-color: var(--less-transparent-gray);
  border-radius: 0.5rem;
  font-size: calc(1vw + 1vh + .5vmin);
  letter-spacing: calc(1vw + 1vh + .5vmin);

}

.alert{
  color: var(--feature-color);
}

.congrat{
  color: var(--main-color);
}

#attempts{
  margin-bottom: calc(0.1vw + 2vh + .5vmin);
  font-size: calc(0.7vw + 1vh + .5vmin);
}

#alphaboard{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: calc(0.1vw + 1.5vh + .1vmin);
  align-content: center;
  align-items: center;
  justify-items: center;

  
}

#alphaboard button{
  color: white;
  display: flex;
  font-size: calc(1vw + 1vh + .5vmin);
  height: calc(1.5vw + 1.5vh + .5vmin);
  width: calc(1.5vw + 1.5vh + .5vmin);
  border: solid 1px;
  border-radius: 50%;
  align-content: center;
  justify-content: center;
  background: none;
  outline: none;
/*   background: var(--hint-color); */
}

#alphaboard .correctLetter{
  background: var(--transparent-main-color);
  
}

#alphaboard .wrongLetter{
  background: var(--transparent-feature-color);
}

#resetButton{
  padding: 2rem;
  margin-top: 15vh;
  color: white;
  font-size: 1.7rem;
  border: solid 1px;
  border-radius: 0.7rem;
  align-content: center;
  justify-content: center;
  background: none;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: calc(2vw + 2vh + .5vmin);
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  background-color: var(--transparent-main-color); 
}

#github, #lnkdn{
  color:white;
  font-size: calc(1.5vw + 1.5vh + .5vmin);
}