
:root {
  /*   Colors */
    --feature-color:  rgb(221, 78, 78);
    --transparent-feature-color:  rgba(221, 78, 78, 0.5);
    --hint-color: rgb(55, 194, 236);
    --transparent-gray: rgba(149, 144, 141, 0.392);
    --transparent-black: rgba(89, 95, 91, 0.463);
    --less-transparent-gray: rgba(149, 144, 141, 0.592);
    --main-color: rgb(106, 204, 106);
    --transparent-main-color: rgba(106, 204, 106, 0.5); 
  /*   Fonts */
    --auto-scaling-x0_1: calc(0.1*(1vw + 1vh + .5vmin));
    --auto-scaling-x0_5: calc(0.5*(1vw + 1vh + .5vmin));
    --auto-scaling-x1: calc(1*(1vw + 1vh + .5vmin));
    --auto-scaling-x1_5: calc(1.5*(1vw + 1vh + .5vmin));
    --auto-scaling-x2: calc(2*(1vw + 1vh + .5vmin));
  
}
  
button:focus, button:active {
  -moz-outline: 0;
  -ms-outline:0;
  -o-outline: 0;
  -webkit-outline: 0;
}

button::-moz-focus-inner {
  border: 0;
}



body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Roboto", sans-serif;
  color: #777;
  overflow: hidden;
}

*{
  box-sizing: border-box;
}

.bgimg {
  background: url(../img/map_bg_lr_2.jpg) center center/cover;
  height:100%;
  width:100%;
  filter: blur(2px);
  transform: scale(1.2);
  z-index: -1;
}

.container {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--transparent-black);
  color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0 1rem;
}

.main-header{
  border-bottom: solid 3px var(--less-transparent-gray); 
}

.main-header__logo{

}

.main-header__logo__text{
  font-size: var(--auto-scaling-x2);
  color: var(--main-color);
  margin:var(--auto-scaling-x0_1);
}

.main-header__logo__icon{
  margin-left: 0.3rem;
  font-size: var(--auto-scaling-x2);
  color:var(--feature-color);
}

.game{
  height:70vh;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.hint{
  color: var(--hint-color);
}

.game__status{
  font-size: var(--auto-scaling-x2);
}

.game__status__fail{
  color: var(--feature-color);
}

.game__soundAlike{
  font-size: var(--auto-scaling-x1_5);
}

.game__puzzle{
/*   margin: calc(0.1vw + 2vh + .5vmin); */
  background-color: var(--less-transparent-gray);
  border-radius: 0.5rem;
  font-size: var(--auto-scaling-x2);
  letter-spacing: var(--auto-scaling-x1);
}

.game__attempts{
  font-size: var(--auto-scaling-x1);
}

.game__alphaboard{
  padding: var(--auto-scaling-x0_5);
}

.game__alphaboard__button{
  margin: var(--auto-scaling-x0_1);
  background:none;
  color:white;
  border: solid 1px;
  border-radius: 5px;
  font-size: var(--auto-scaling-x2);
  cursor:pointer;
}

.game__alphaboard__button:hover{
  border-color: var(--hint-color);
}

.game__alphaboard__button--wrongLetter{
  background-color: var(--transparent-feature-color);
  
}

.game__alphaboard__button--correctLetter{
  background-color: var(--transparent-main-color);
}

.game__resetButton{
  background:none;
  color:white;
  border: solid 1px;
  border-radius: 5px;
  font-size: var(--auto-scaling-x2);
  cursor:pointer;
}

.game__resetButton:hover{
  border-color: var(--hint-color);
}

.main-footer{
  border-top: solid 3px var(--less-transparent-gray); 
  text-align: center;
}

.main-footer__github-link{
  color: white;
  font-size: var(--auto-scaling-x1);
  padding: var(--auto-scaling-x1);
}

.main-footer__lnkdn-link{
  color: white;
  font-size: var(--auto-scaling-x1);
}